<!-- component -->
<div class="table w-full p-2">
  <a (click)="addConsumer()"
  class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin"
  >View</a
>
    <table class="w-full border">
      <thead>
        <tr class="bg-gray-50 border-b">
          <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
            <div class="flex items-center justify-center">S.No</div>
          </th>
          <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
            <div class="flex items-center justify-center">First Name</div>
          </th>
          <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
            <div class="flex items-center justify-center">Last Name</div>
          </th>
          <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
            <div class="flex items-center justify-center">Consumer</div>
          </th>
          <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
            <div class="flex items-center justify-center">View</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-gray-100 text-center border-b text-sm text-gray-600"
          *ngFor="let consumer of consumers; let i = index"
        >
          <td class="p-2 border-r">{{ i + 1 }}</td>
          <td class="p-2 border-r">{{ consumer.firstName }}</td>
          <td class="p-2 border-r">{{ consumer.lastName }}</td>
          <td class="p-2 border-r">{{ consumer.username }}</td>
          <td>
            <a (click)="viewConsumer(consumer.id)"
              class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin"
              >View</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
