<!-- component -->
<div class="table w-full p-2">
    <button mat-flat-button color="primary" (click)="addProvider()" >Add provider</button>
    <table class="w-full border">
        <thead>
            <tr class="bg-gray-50 border-b">
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        S.No

                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Provider Name

                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Rate
  
                    </div>
                </th>
                <th class="p-2 border-r cursor-pointer text-sm font-thin text-gray-500">
                    <div class="flex items-center justify-center">
                        Action

                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-gray-100 text-center border-b text-sm text-gray-600" *ngFor="let provider of providers let i = index">

                <td class="p-2 border-r">{{i + 1}}</td>
                <td class="p-2 border-r">{{provider.name}}</td>
                <td class="p-2 border-r">{{provider.rate}}</td>
                <!-- <td class="p-2 border-r">Sydney, Australia</td> -->
                <td>
                    <a class="bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin" (click)="changeProviderStatus(provider.name, true)">Enable</a>
                    <a class="bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin" (click)="changeProviderStatus(provider.name, false)">Disable</a>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>